<!DOCTYPE html>
<html>
<head>
  <title>Dota 2 Caster</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <%= link_to "Dota 2 Caster", "../", :class => "navbar-brand"%>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">
            
            <li>
              <%= link_to "AD2L", "http://amateurdota2league.com", :target => "blank"%>
            </li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li><a href="http://builtwithbootstrap.com/" target="_blank">Built With Bootstrap</a></li>
            <li><%= link_to image_tag("http://cdn.steamcommunity.com/public/images/signinthroughsteam/sits_small.png"), '/auth/steam', :class => 'steamsignin' %></li>
          </ul>

        </div>
      </div>
  </div>
  <div class="container">
    <div class="jumbotron">
      <h1>Jumbotron</h1>
      <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
      <p><a class="btn btn-primary btn-lg">Learn more</a></p>
    </div>

    
    <div class="panel panel-default main-content">
      <div class="panel-body">
        <%= yield %>
      </div>
    </div>
    <div class="panel panel-default side-content">
      <div class="panel-body">
        <%= render  "layouts/side_panel" %>
      </div>
    </div>

  </div>
</body>
</html>
