<!DOCTYPE html>
<html>
<head>
  <title>Cast Dota</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <%= link_to "Cast Dota", "/", :class => "navbar-brand"%>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">
            
            <li>
              <%= link_to "AD2L", "http://amateurdota2league.com", :target => "blank"%>
            </li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li><a href="http://builtwithbootstrap.com/" target="_blank">Built With Bootstrap</a></li>
            <%if session[:current_user]%>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= image_tag session[:current_user][:image], :alt => "Steam Avatar" %> <%= session[:current_user][:nickname] %> <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><%= link_to "Edit information", @current_user%></li>
                  <li><%= link_to 'Logout', logout_url, :class => 'logout' %></li>
                </ul>
              </li>
            <%else%>            
              <li><%= link_to image_tag("http://cdn.steamcommunity.com/public/images/signinthroughsteam/sits_small.png"), '/auth/steam', :class => 'steamsignin' %></li>            
            <%end%>
          </ul>

        </div>
      </div>
  </div>
  <!-- Carousel
  ================================================== -->
  <div id="myCarousel" class="carousel slide">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="item active">
        <%= image_tag "kotl_36.jpg", :class => "img-responsive", :alt => "kotl_36"%>
        <div class="container">
          <div class="carousel-caption">
            <h1>Bootstrap 3 Carousel Layout</h1>
            <pthis is="" an="" example="" layout="" with="" carousel="" that="" uses="" the="" bootstrap="" 3="" styles.<="" small=""><p></p>
            <p><a class="btn btn-lg btn-primary" href="http://getbootstrap.com">Learn More</a>
          </p></pthis></div>
        </div>
      </div>
      <div class="item">
        <%= image_tag "Enchantress_36.jpg", :class => "img-responsive", :alt => "Enchantress_36"%>
        <div class="container">
          <div class="carousel-caption">
            <h1>Changes to the Grid</h1>
            <p>Bootstrap 3 still features a 12-column grid, but many of the CSS class names have completely changed.</p>
            <a class="btn btn-large btn-primary" href="#">Learn more</a>
          </div>
        </div>
      </div>
      <div class="item">
        <%= image_tag "Kunkka_36.jpg", :class => "img-responsive", :alt => "Kunkka_36"%>
        <div class="container">
          <div class="carousel-caption">
            <h1>Want to be featured here?</h1>
            <p>With "mobile-first" there is now only one percentage-based grid.</p>
            <a class="btn btn-large btn-primary" href="#">Browse gallery</a>
          </div>
        </div>
      </div>
    </div>
    <!-- Controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="icon-next"></span>
    </a>  
  </div>
  <!-- /.carousel -->
  <div class="container-full">    
    <div class="panel panel-default main-content">
      <div class="panel-body">
        <%= yield %>
      </div>
    </div>
    <div class="panel panel-default side-content">
      <%= render  "layouts/side_panel", :object => @active_streams %>
    </div>
    <div class="footer">
      <div class="container">
        <span class="fa fa-twitter"></span>
      </div>
    </div>

  </div>
</body>
</html>
